langchain==1.2.10
python-dotenv==1.2.1
ipykernel==7.2.0
langchain_groq==1.1.2
langchain_google_genai (not installed)
langchain-community==0.4.1
faiss-cpu==1.13.2
structlog==25.5.0
PyMuPDF==1.27.1
pylint (not installed)
langchain-core==1.2.15
pytest==9.0.3
streamlit==1.56.0
fastapi==0.136.1
uvicorn==0.46.0
python-multipart==0.0.27
docx2txt==0.9
pypdf==6.7.3

-e .


